@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

*{
    box-sizing: border-box;
    background-color: #d3cfcf;
}

:root{
    --mood-color-1:#73a340;
    --mood-color-2:#d4cb13;
    --mood-color-3:#e05e08;
    --mood-color-4:#bf014d;
    --mood-color-5:#ac0303;
}

body {
	font-family: 'Muli';
	margin: 40px 0;
}

h2 {
	margin-bottom: 0;
}

h4 {
	font-weight: 100;
	margin: 5px 0 20px;
}

p {
	margin: 5px 0;
}

.container {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 30px;
	text-align: center;
}

.moods_container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.mood {
	background-color: #d3cfcf;
	border: 0;
	border-radius: 50%;
	color: #000;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	line-height: 20px;
	padding: 0;
	margin: 0 5px;
	height: 40px;
	width: 40px;
	text-align: center;
}

.mood_1 {
	color: var(--mood-color-1);
}

.mood_2 {
	color: var(--mood-color-2);
}

.mood_3 {
	color: var(--mood-color-3);
}

.mood_4 {
	color: var(--mood-color-4);
}

.mood_5 {
	color: var(--mood-color-5);
}

.mood.selected {
	background-color: currentColor;
}

.mood.selected i {
	color: #d3cfcf;
}

.mood:active {
	transform: scale(0.9);
}

.mood:focus {
	outline: 0;
}

.mood i {
	cursor: pointer;
}

.calendar {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
}

.months {
	padding: 10px;
	width: 33%;
}